
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<p>You can contact us here at KhumaloCraft in the following ways:<p>

<p> Email: khumalocraftemporium@gmail.com</p>
<p> Telephone: +27 96 694 6394 </p>


