
@{
    ViewData["Title"] = "My Work";
}

<h1>My Work</h1>

<img src="~/Images/craftwork_01.jpg" width="300" height="300" style="margin:0px 20px;" alt="Craftwork Image">
<p>Gayatree Tripathy, CC BY-SA 4.0 <https: //creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons</p>
<p>Creator: Gayatree Tripathy</p>
<p>Price: R250.00</p>

<img src="~/Images/craftwork_02.jpg" width="300" height="300" style="margin:0px 20px;"  alt="Craftwork Image">
<p>TNSE CHINNAPPARAJ DIET NGP, CC BY-SA 4.0 <https: //creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons</p>
<p>Creator: TNSE CHINNAPPARAJ DIET NGP</p>
<p>Price: R100.00</p>

<img src="~/Images/craftwork_03.jpg" width="300" height="300" style="margin:0px 20px;" alt="Craftwork Image">
<p>David Blaikie, CC BY-SA 4.0 <https: //creativecommons.org/licenses/by/2.0 />, via Flikr</p>
<p>Creator: David Blaikie</p>
<p>Price: R400.00</p>

